/android_android_24.xml
/animated_vector_drawable_24_2_1.xml
/appcompat_v7_24_2_1.xml
/commons_math3_3_6_1.xml
/espresso_core_2_2_2.xml
/espresso_idling_resource_2_2_2.xml
/exposed_instrumentation_api_publish_0_5.xml
/hamcrest_core_1_3.xml
/hamcrest_integration_1_3.xml
/hamcrest_library_1_3.xml
/javawriter_2_1_1.xml
/javax_annotation_api_1_2.xml
/javax_inject_1.xml
/jsr305_2_0_1.xml
/junit_4_12.xml
/rules_0_5.xml
/runner_0_5.xml
/support_annotations_24_2_1.xml
/support_compat_24_2_1.xml
/support_core_ui_24_2_1.xml
/support_core_utils_24_2_1.xml
/support_fragment_24_2_1.xml
/support_media_compat_24_2_1.xml
/support_v4_24_2_1.xml
/support_vector_drawable_24_2_1.xml
